* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(102, 68, 152);
    padding-top: 15px;
}

#computer-choice {
    margin: 0 15px 0 15px !important;
    border: 8px solid black;
    height: 50vh;
    background: rgb(155, 188, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-choice {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.choices {
    height: 15vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#computer-stone,
#computer-paper,
#computer-scissor {
    width: 100px;
    height: 100px;
    display: none;
}

#score {
    position: absolute;
    left: 50%;
    top:50px ;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: yellow;
}

.computer-score{
    color: red ;
}

h3{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    #player-choice {
        margin-top: 100px !important;
    }
    .choices {
        height: 10vh;
        width: 15vw;
    }
    h1 {
        display: none !important;
    }
}
